{
  "settings": {
    "theme": "fb",
    "locale": "en",
    "canOpen": true,
    "canOpenDemo": false,
    "canOpenSettings": true,
    "canCreate": false,
    "canImportXml": false
  },
  "files": [{
    "storage": "file",
    "name": "PasswordsPerso",
    "path": "file:///C:/Users/phil/Dropbox/perso/Passwords.kdbx"
  }]
}